################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CartValueEavaluator/.vs/CartValueEavaluator/v16/.suo
/CartValueEavaluator/CartValueEavaluator/bin/Debug/netcoreapp3.1
/CartValueEavaluator/.vs/CartValueEavaluator/v16
/CartValueEavaluator/.vs/CartValueEavaluator/DesignTimeBuild
/CartValueEavaluator/UnitTest.CartValueEvaluator/obj/Debug
/CartValueEavaluator/CartValueEavaluator/obj/Debug
